.menu {
  position: fixed;
  bottom: -60vh;
  height: 60vh;
  width: 100%;
  z-index: 900;
  color: var(--white);
  background-color: var(--secondary-color);
  border-radius: 0.75em 0.75em 0 0;
  padding: 2em;
  transition: all 500ms ease-in-out;
}

.links li {
  list-style: none;
}

.link {
  line-height: 2;
  font-size: 1.5em;
  color: var(--white);
  text-decoration: none;
}

.link:active, .link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.open {
  font-size: 1em;
  bottom: 0;
}

.burger {
  color: var(--white);
  height: 6em;
  transition: ease-in-out 100ms;
}

.burger:hover, .burger:active {
  color: var(--primary-color);
}

.button {
  /* Width based on burger icon width + padding */
  width: calc(6em + 0.5em + 0.5em);
  border-radius: 50% 50% 0 0;
  background-color: var(--secondary-color);
  padding: 0.5em 0.5em 0.2em 0.5em;
  border: none;
}

.buttonContainer {
  position: fixed;
  align-items: center;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

@media screen and (min-width: 480px) {
  .burger {
    color: var(--primary-color);
    height: 3rem;

    &.open {
      color: var(--white);
    }
  }

  .burger:hover, .burger:active {
    color: var(--secondary-color);

    &.open {
      color: var(--primary-color);
    }
  }

  .button {
    background: none;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
  }

  .menu {
    bottom: 0;
    left: -14em;
    height: 100%;
    width: 12em;
    border-radius: 0 0.75em 0.75em 0;
    padding: 6em 2em;
  }

  .open {
    left: 0;
  }
}
