.burgerMenuIcon {
  color: black;
  height: 100px;
  padding: 0.75em;
  border-radius: 50%;
  border: solid black 0.25em;
}

.burgerMenuIcon * {
  transition: .2s ease-in-out, opacity .1s;
  stroke-linecap: round;
}

.burgerMenuIcon:hover {
  cursor: pointer;
}

.open .burgerMenuIconTop {
  transform: translate(33%, -11.25%) rotate(45deg) scaleX(1.1)
}

.open .burgerMenuIconMiddle {
  opacity: 0%;
}

.open .burgerMenuIconBottom {
  transform: rotate(-45deg) translate(-55%) scaleX(1.1)
}

@media screen and (min-width: 480px) {
  .burgerMenuIcon {
    border: none;
    padding: 0.25rem;
  }
}
