.project_title {
  margin: 0.5em 0;
}

.project_position {
  margin-bottom: 0.25em;
}

.project_description_list {
  padding-left: 1em;
  line-height: 1.5;
}

.image_container {
  margin: 1em 10%;
  position: relative;
}

.spacer {
  height: 6em;
}
