.wordcloud {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wordcloud_word {
  font-size: 1em;
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background-color: var(--primary-color);
  color: var(--white);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.5);
}
