@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --primary-color: #283618;
  --primary-color-light: #606C38;
  --white: #FEFAE0;
  --secondary-color: #BC6C25;
  --secondary-color-light: #DDA15E;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--white);
}

article {
  padding-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  font-family: var(--font-heading), sans-serif;
}

p, li, a, span {
  color: var(--primary-color);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25em;
  margin-bottom: 0.25em;
}

a:hover, a:active, a:focus {
  color: var(--secondary-color);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.25em;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
    --primary-color: #FEFAE0;
    --primary-color-light: #FFFFFF;
    --white: #283618;
    --secondary-color: #BC6C25;
    --secondary-color-light: #DDA15E;
  }
}
