.main {
  display: flex;
  padding: 0.75rem;
  height: 100dvh;
}

@media screen and (min-width: 480px) {
  .main {
    margin: auto;
    height: 100%;
    min-height: 100dvh;
    max-width: 70dvw;
    width: 100%
  }
}
