.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  .title {
    font-size: 4em;
  }

  .subtitle {
    font-size: 3em;
  }

  .text {
    font-size: 1.5em;
    margin-top: 1em;
  }
}

@media screen and (min-width: 480px) {
  .hero {
    .text{
      font-size: 2em;
    }
  }
}
