.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.hero {
  max-width: 900px;

  .title {
    font-size: 4rem;
  }

  .subtitle {
    font-size: 3rem;
  }

  .text {
    margin-top: 1rem;
  }
}
